<html>
    <head>
        <script></script>
    </head>
    <body>
        <h3>this is home</h3> 
        <p>current_user</p>
        <p>ID = {{current_user.ID}}</p>
        <p>Location = {{current_user.my_location}}</p>
        <p>refrigerator = {{my_ref}}</p>
        <p>sharlist = {{sharelist}}</p>
        
        </p>
        <a href="http://localhost:5000/ref">냉장고에 재료추가</a><br>
        <a href="http://localhost:5000/view2">view 2</a><br>
        <a href="http://localhost:5000/view3">view 3</a><br>
        <a href="http://localhost:5000/view3-1">view 3-1</a><br>

    </body>
</html>